
* {margin: 0; padding: 0;}

html {
	background: white;
}


/*form styles*/
.form-register {
	width: 48%;
    margin: 50px 0 50px 0;
	text-align: center;
	
}

.step {
	background: #414141;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 15px;
	box-sizing: border-box;
	width: 80%;
	min-width: 300px;
	margin: 0 10%;
    display: none;
    transition: all .2s linear;
    /*stacking fieldsets above each other*/
}


.step.active {
	display: block;
}

.step.to-left {
    margin-left: -100%;
}

.step.inactive {
    animation-name: scale;
    animation-duration: .2s;
    animation-direction: alternate;
	animation-iteration-count: 2;
}
.step p{
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/*inputs*/
.f-input, .f-textarea, .f-select
{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
    margin-bottom: 40px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}

.invalido{
	border: 2px solid rgb(255, 0, 0);
	place-content: red;
}

/* radiobuttons */
.radiobutton-form label{

    margin: 15px;
    width: 5%;
    color: white;
    font-size: 16px;
}
input[type='radio']:after {
    
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {

    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffd54b;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.input-form option{
    background: #ffd54bd0;
    
}

/*buttons*/
.step__button {
	width: 100px;
	background: #ffd54b ;
	font-weight: bold;
	color: #414141;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin-top: 20px ;
}
 .step__button:hover, .step__button:focus {
	box-shadow: 0 0 0 2px #414141, 0 0 0 3px #ffd54b;
}
/*headings*/
.fs-title {
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 14px;
	color: rgb(230, 230, 230);
	margin-bottom: 30px;
}
/*progressbar*/
.progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
.progressbar__option {
	list-style-type: none;
	color: #414141;
	text-transform: uppercase;
	font-size: 14px;
	width: 33.33%;
	float: left;
	position: relative;
}
.progressbar__option:before{
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: #414141;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.progressbar__option:after{
	content: '';
	width: 100%;
	height: 2px;
	background: #414141;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar__option:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar__option.active:before, .progressbar__option.active:after{
	background: #ffd54b;
	color: #414141;
}

.input-form{
	display: block;
}

.imgMediana{
    width: 20%;
}


.formulario-contenido{
    width: 100%;
    display: flex;
    justify-content: center;
}



#autorizado-form hr{
    margin: 20px;
}
hr{
	margin-bottom: 20px;
}
#autorizado-form, #cedula-input, #pasaporte-input,  #cedula-inputA, #pasaporte-inputA, #otros{
    display: none;
}

#cliente-peticion , #autorizado-peticion, #objeto-peticion, #lugar-peticion{
	margin-right: 50px;
	margin-left: 50px;

}
.input-modal{
	display: flex;
	justify-content: start;
}

.input-modal span{
	font-weight: 600;
}

.sweet-warning{
	background-color: #ffd54b;
	color: #414141;
   }
   
   .sweet-warning:not([disabled]):hover{
	background-color: #fdc50a;
   }

.input_form{
	margin: 10px;
	display: flex;
}

.center{

	justify-content: center;
}

.input_form input, .input_form textarea, .input_form select
{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 15%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}

.contenidoCentrado{
	margin-bottom: 100px;
	margin-top: 90px;
	justify-content: center;
	align-items: center;
}
.formStyle{

	border: 3px solid  #d6d6d6;
	height: 100%;
	padding: 0 50px;
	margin: 0px 130px;
	min-width: 250px;
	background-color: rgb(240, 239, 239);
}

.formStyle-Titulo{

	border: 3px solid  #414141;
	height: 100%;
	background-color: #414141;
	border-bottom: #414141;
	padding: 12px 50px;
	margin: 0px 130px;
	margin-top: 10px;
	color: #ffffff;	
	font-weight: 500;
	font-size: 30px;
	min-width: 250px;
}

.formStyle p{	
	margin: 20px 0;
}


.btn-form {
	width: 100px;
	background: #ffd54b ;
	font-weight: bold;
	color: #414141;
	border: 0 none;
	border-radius: 4px;
	cursor: pointer;
	padding: 15px 10px;
	margin-top: 20px ;
	margin-bottom: 5px;
}
 .btn-form:hover, .btn-form:focus {
	box-shadow: 0 0 0 2px #414141, 0 0 0 3px #ffd54b;
}

/* Table */
   .container th h1 {
	font-weight: bold;
	font-size: 1em;
text-align: left;
color: white;
}

.container td {
	font-weight: normal;
	font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
	 -moz-box-shadow: 0 2px 2px -2px #0E1119;
		  box-shadow: 0 2px 2px -2px #0E1119;
}
.container a{
	color: #fdc40a;
}

.container {
	text-align: left;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
display: table;
padding: 0 0 8em 0;
}

.container td, .container th {
	padding-bottom: 0.5%;
	padding-top: 0.5%;
padding-left:0.5%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	background-color: #ffffff;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	background-color: rgb(196, 196, 196);
}

.container th {
	background-color: #292929;
}

.container td:first-child { color: #414141; }

.container tr:hover {
 background-color: #949699;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	 -moz-box-shadow: 0 6px 6px -6px #0E1119;
		  box-shadow: 0 6px 6px -6px #0E1119;
}

/*Tooltip*/
.error{
	margin: 0;
	background: red;
}
.hrA{
	visibility: hidden;
}
/*Tabs*/

@media (max-width: 850px) {

	.input-modal{
		display: block;
	}
	.hrA{
		visibility: visible;
	}
} 

@media (max-width: 800px) {
	/*.container td:nth-child(4),
	.container th:nth-child(4) { display: none; }*/
.formStyle{
	margin-right: 10px;
	margin-left: 10px;
}

.formStyle-Titulo{
	margin-right: 10px;
	margin-left: 10px;
}

} 
@media (max-width: 1080px){
	.imgMediana{
		display: none;
	}
	.step{ 
		width: 100%;
		margin: 0;
	}
	.form-register{
		width: 100%;
		min-width: 300px;
	
	}
	.formulario-contenido{
		padding: 10px;
	}
		.input-modal{
		display: block;
	}
	
}