* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
    box-sizing: border-box;
}
@font-face {
    font-family: poppins;
    src: url("../font/Poppins.ttf");
}
.error{
    color: red; font-size: 12px ; margin: -15px; justify-content:center; text-align: center;
}
body {
    min-height: 100vh;
    height: 100%;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    text-align: rgb(117, 117, 117)
}

h1 {
    font-size: 37px;

    cursor: default;
}

.login-form {
    width: 500px;
    background: rgb(226, 226, 226);

    height: 75%;
    padding: 0px 40px 40px 40px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
 
}

.login-form h1 {
    text-align: center;
    margin-bottom: 15px;
}

.txtb {
    border-bottom: 2px solid #c8a847;
    position: relative;
    margin: 30px 0;
    
    
}

.txtb input{
    font-size: 15px;
    color: #575757;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
    margin-bottom: 0px;
}

 .txtb input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(226, 226, 226) inset; 
    }

input:-webkit-autofill { 
    -webkit-text-fill-color: #575757 !important; 
}

.txtb span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #000000;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.5s;
}

.focus + span::before {
    top: -12px;
}
.focus + span::after {
    width: 100%;
}

.logbtn {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 19px;
    border: none;
    background: #c8a847;
    background-size: 200%;
    color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 35px;
    border-radius: 5px;
}

.logbtn:hover {
    color: rgb(255, 255, 255);
    background: #f3ba0d;
}

.bottom-text {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
}
.bottom-text a {
    color: #c8a847;
    border-bottom: 1px solid #c8a847;
}
.TextEnd {
    color: #000000;
    cursor: default;
}

.images2 {
    max-width: 200px;
    
}

.redt {
    color: red;
}

/* height */
@media (max-height: 1370px){
    .login-form {
        top: 35%;
        height: 55%;
         
     }
}
@media (max-height: 1100px){
    .login-form {
        top: 50%;
        height: 72%;
         
     }
}
@media (max-height: 890px) {
    .images2 {
        max-width: 200px;
    }
    h1 {
        font-size: 30px;
    }
    .login-form {
        height: 85%;
         
     }
}

@media (max-height: 812px) {
    .images2 {
        max-width: 150px;
    }
    h1 {
        font-size: 30px;
    }

}

@media (max-height: 768px) {
    .images2 {
        max-width: 150px;
        margin-top: 0px;
    }
    h1 {
        font-size: 30px;
    }

    .login-form {
        width: 450px;
        padding-top: 30px;
    }
    .txtb {
        margin: 20px 0;
    }
    .bottom-text {
        margin-top: 10px;
        font-size: 13px;
    }
    .logbtn {
        margin-top: 30px;
    }
}
@media (max-height: 680px) {
    .images2 {
        max-width: 120px;
    }
    .login-form {
        height: 94%;
        padding-top: 10px;
         
     }
}
@media (max-height: 568px) {
    .images2 {
        max-width: 100px;
    }

    .login-form {
        width: 450px;
        
        margin-top: 45px;
    }
    .txtb {
        margin: 20px 0;
    }
}

/* width */

@media (max-width: 520px) {
    .login-form {
        width: 350px;
        padding-top: 10px;
    }
    .bottom-text {
        font-size: 12px;
    }
    h1 {
        font-size: 30px;
    }
    .logbtn{
        margin-top: 5px;
        margin-bottom: 25px;
    }
}

@media (max-width: 365px) {
    .login-form {
        width: 300px;
    }
    h1 {
        font-size: 25px;
    }
}

@media (max-width: 330px) {
    .login-form {
        width: 260px;
        top: 41%;
    }
    h1 {
        font-size: 20px;
    }
    .bottom-text {
        font-size: 10px;
    }
    .logbtn {
        height: 40px;
        font-size: 15px;
    }
}
@media (max-width: 280px) {
    .login-form {
        top: 50%;
    }
 
}
