* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
 
}

@font-face {
    font-family: poppins;
    src: url("../font/Poppins.ttf");
}
.contenido-popup{
    text-align: start;

}

.contenido-popup hr{
    margin: 20px;
}

.btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	overflow-y: scroll;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	padding: 20px;
	text-align: center;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
	font-family: poppins;
	min-width: 280px;
	margin: 30px;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 20px;
	font-weight: 600;
	opacity: 0;
}
.popup p{
    opacity: 0;
}
.popup.active .subtituloMover{
    opacity: 0;
}
.popup form .contenedor-popup-inputs {
	opacity: 0;
}

.popup form .contenedor-popup-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3{ animation: entradaTitulo .5s ease .3s forwards; }
.popup.active h4{ animation: entradaSubtitulo .5s ease .3s forwards; }
.popup.active .contenedor-popup-inputs ,.popup p, .popup.active .subtituloMover{ animation: entradaInputs 0.5s linear 0.5s forwards; }

@media (max-width: 860px){
	.popup{
		margin: 10px;
	}

	.overlay{
		display: block;
	}

}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}