* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
 
}

@font-face {
    font-family: poppins;
    src: url("../font/Poppins.ttf");
}

body {
    text-align: center;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column; 
}

main {
    flex: 1 0 auto;
}

      

.Principal {
    background-image: url("../images/dorado2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    height: 100%;
}


.seccion1{
    height: 880px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(111, 112, 111);
    flex-direction: column;
}

.seccion1 p{
   
    color: #ffd54b;
}
.seccion1 h3{
    font-size: 35px;  

}
.seccion1 img{
    width: 50px;    
}

.Tutorial {
    display: block;
}

.tituloContenido{
    height: 70px;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.contenido{
    margin: auto;
    width: 100%;
    max-width: 1100px;
    text-align: center;

}




.header1 {
    display: flex;
    justify-content: space-around;
    height: 101px;
    background: #000000;
    align-items: center;
    align-content: center;
}
.header2 {
    display: flex;
    justify-content: space-around;
    height: 101px;
    background: rgba(0, 0, 0,0.6);
    align-items: center;
    align-content: center;
}

.header3{
    display: flex;
    justify-content: space-around;
    height: 101px;
    background: #292929;
    align-items: center;
    align-content: center;

}

header label {
    font-size: 25px;
    cursor: pointer;
    color: #ffd54b;
    display: none;

}


/* Menu */

#btn-menu {
    display: none;
}
.menu ul {
    display: flex;
    list-style: none;
}

.menu ul ul {
    display: none;
}

.menu a {
    display: block;
    padding: 38px 20px;
    color: #ffd54b;
    text-decoration: none;
}

.menu a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu a span {
    margin-left: 10px;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
}

.submenuA {
    background-color: rgba(0, 0, 0, 0.6);
}


.btn-logout {
    background: #ffd54b30;
}

/* Menu2 */
.menu2 ul {
    display: flex;
    list-style: none;
}

.menu2 ul ul {
    display: none;
    background: rgba(0, 0, 0);
}

.menu2 a {
    display: block;
    padding: 38px 20px;
    color: #ffd54b;
    text-decoration: none;
}

.menu2 a:hover {
    background: rgba(255, 251, 0, 0.1);
}

.menu2 a span {
    margin-left: 10px;
}

.menu2 ul li:hover ul {
    display: block;
    position: absolute;
}









/* Contenido */

.btnRecuperalo {
    width: 34%;
    border-radius: 10px;
    transition: all 1s;
    margin-top: 50px;
    margin-bottom: 90px;
    animation-name: beat;
    animation-duration: 2.5s;

}

.rombo1 {
    margin-top: 60px;
    width: 35%;
    animation-name: mover2;
    animation-duration: 2.5s;

}

.rombo2 {
    margin-top: 60px;
    width: 35%;
    animation-name: mover1;
    animation-duration: 2.5s;

}

.btnRecuperalo:hover {
    width: 39%;
    backdrop-filter: brightness(3000%);
}

.imageHeader {
    width: 450px;
}

.contenedor {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #f5be08;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    cursor: default;
}
/* Seccion 2 */
.seccion2 {
    margin-bottom: 60px;
}



.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    margin-top: 30px;
    width: 40%;
    height: 40%;
}


.card-contenido h3 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.card-contenido p {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 1.5;
}

/* Seccion 3 */
.seccion3 {
    background-color: rgb(245, 245, 245);
    text-align: start;
    padding: 10px;
    padding-bottom: 40px;
}
/* Seccion 4 */
.seccion4 {
    background-color: rgb(245, 245, 245);
    text-align: start;
    padding-top: 10px;
    padding-bottom: 40px;

}
.seccion4 p{
    text-align: center;
}
.seccion4 img{
    margin: 30px 0 30px 0;
    width: 30%;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.contenedor-sobre-nosotros img {
    width: 48%;
}

.texto-sobre-nosotros {
    width: 48%;
    cursor: default;
}

.texto-sobre-nosotros h3 {
    margin-bottom: 15px;
}
.texto-sobre-nosotros span {
    background: #f5be08;
    color: rgb(245, 245, 245);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 1px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

.texto-sobre-nosotros p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Seccion 1 */

.contenedor-sobre-nosotros2 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.contenedor-sobre-nosotros2 img {

    margin-top: -10px;
}

.texto-sobre-nosotros2 {
    width: 50%;
    cursor: default;
}
.texto-sobre-nosotros2 h3 {
    margin-bottom: 0px;
}
.texto-sobre-nosotros2 p {
    font-weight: 300;
    text-align: justify;
    margin-left: 18px;
}
.texto-sobre-nosotros2 span {
    background: #f5be08;
    color: rgb(245, 245, 245);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 1px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin-right: 15px;
}
.texto-sobre-nosotros2 h3 {
    margin-bottom: 15px;
}

.contenedorSabiasQue{
    margin: auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
}

/* Circulo */

.ch-item {
    width: 200px;
    height: 200px;
	border-radius: 50%;
	cursor: default;
    perspective: 900px;
    margin: 20px;
    margin-bottom: 50px;
    
}
.ch-info{
	position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
    width: 200px;
    height: 200px;
	border-radius: 50%;
	background-position: center center;
	transition: all 0.4s linear;
    transform-origin: 50% 0%;
    align-items: center;
    display: flex;
}
.ch-info .ch-info-front {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
}
.ch-info .ch-info-back {
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background: rgb(0, 0, 0);
	opacity: 0;
}
.ch-img-1 { 
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	margin: 0 15px;
	padding: 60px 0 0 0;
	height: 110px;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
    padding: 0 10px 0 10px;
    font-size: 15px;
	
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover .ch-info-front {
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}
.ch-item:hover .ch-info-back {
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}
/* Seccion 5 */
.seccion5 {
    text-align: start;
    padding: 10px;
    padding-bottom: 40px;
}



/* Footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #f5be08;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: default;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
    cursor: default;
}

/* Responsive 1294px */

@media (max-width: 1294px) {
    .rombo1 {
        width: 47%;
        margin-top: 40px;
        opacity: 1;
    }
    .rombo2 {
        width: 47%;
        margin-top: 40px;
        opacity: 1;
    }

    .btnRecuperalo {
        width: 45%;
        margin-top: 40px;
        opacity: 1;
    }

    .btnRecuperalo:hover {
        width: 51%;
        backdrop-filter: brightness(3000%);
    }

    .menu a {
        display: block;
        padding: 25px 20px;
        color: #ffd54b;
        text-decoration: none;
    }
    .menu2 a {
        display: block;
        padding: 25px 20px;
        color: #ffd54b;
        text-decoration: none;
    }
}

/* Responsive 1120px */

@media (max-width: 1120px) {
    .rombo1 {
        width: 52%;
    }
    .rombo2 {
        width: 52%;
    }

    .btnRecuperalo {
        width: 50%;
    }
    .btnRecuperalo:hover {
        width: 56%;
        backdrop-filter: brightness(3000%);
    }

    header {
        height: 101px;
    }

    header label {
        display: block;
    }

    .menu {
        position: absolute;
        top: 101px;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .menu ul {
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .menu ul li:hover ul {
        display: none;
        position: static;
    }

    #btn-menu:checked ~ .menu {
        transform: translateX(0%);
    }

    .menu2 {
        position: absolute;
        top: 101px;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .menu2 ul {
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .menu2 ul li:hover ul {
        display: none;
        position: static;
    }

    #btn-menu:checked ~ .menu2 {
        transform: translateX(0%);
    }

    .btn-logout {
        background: rgba(0, 0, 0, 0.5);
    }

    .iconRight {
        position: absolute;
        right: 5px;
    }

    .imageHeader {
        width: 310px;
    }
}

/* Responsive 617px */

@media (max-width: 617px) {
    .rombo1 {
        width: 92%;
        margin-top: 30px;
    }
    .rombo2 {
        width: 92%;
        margin-top: 30px;
    }
    .btnRecuperalo {
        width: 90%;
        margin-top: 30px;
    }
    .btnRecuperalo:hover {
        width: 96%;
        backdrop-filter: brightness(3000%);
    }

    .contenedor {
        display: block;
    }
    .card {
        width: 65%;
    }
    .card-contenido p {
        padding-bottom: 30px;
    }
}

@media (max-width: 342px) {
    .imageHeader {
        display: none;
    }
    header label {
        display: block;
        position: absolute;
    }
}

.animado {
    opacity: 0;
    transition: 1s;
}
.animado2 {
    opacity: 0;
    transition: 1s;
}

.mostrarArriba {
    animation: subir 1s;
}
.mover {
    animation: mover3 1s;
}

/* KeyFrames */

@keyframes subir {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mover3 {
    0% {
        transform: translate(60px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes mover1 {
    0% {
        transform: translate(100%);
    }
}
@keyframes mover2 {
    0% {
        transform: translate(-100%);
    }
}

@keyframes beat {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

/* Extra */

@media (max-width: 1280px){
    .seccion1{
        height: 620px;
    }
}

@media (max-width:900px){
    
.contenedorSabiasQue{

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

@media (max-width: 800px) {
    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .texto-sobre-nosotros {
        width: 90%;
    }
    .contenedor-sobre-nosotros2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor-sobre-nosotros2 img {
        margin-top: 30px;
    }

    .texto-sobre-nosotros2 {
        width: 90%;
    }
    .seccion1{
        height: 500px;
    }
    /* Footer */

    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4 {
        border: none;
    }

    .content-foo p {
        color: #ccc;
        border-bottom: 1px solid #f5be08;
        padding-bottom: 20px;
    }

    .titulo-final {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .seccion1{
        height: 568px;
    }
    .seccion1 h3{
        margin: 5px 0 5px 0px;
        font-size: 25px;
    }
    .seccion1 p{
        font-size: 15px;
    }
    .titulo {
        font-size: 30px;
    }
    /* ABOUT US */

    .contenedor-sobre-nosotros img {
        margin-bottom: 50px;
        width: 99%;
    }
    .contenedor-sobre-nosotros2 img {
        margin-bottom: 50px;
        width: 99%;
    }

    .seccion4 img{
        width: 80%;
    }

    .texto-sobre-nosotros {
        width: 95%;
    }

    .texto-sobre-nosotros2 {
        width: 95%;
    }
    
}

.label-i {
    width: 49%;
    position: relative;
    display: inline-block;
  }
  .label-i span {
    position: absolute;
    left: 10px;
    top: -2em;
    font-size: .75em;
    cursor: text;
    color: #ffd54b;
  }
.bigInput{
    width: 99% !important;
}