
.form-group .form-control{
   font-size: 15px;

}

.sweet-warning{
	background-color: #ffd54b;
	color: #414141;
   }
   
   .sweet-warning:not([disabled]):hover{
	background-color: #fdc50a;
   }

   * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: poppins;
   
  }
  
  @font-face {
      font-family: poppins;
      src: url("../font/Poppins.ttf");
  }
  .contenido-popup{
      text-align: start;
  
  }
  
  .contenido-popup hr{
      margin: 20px;
  }
  
  .btn-abrir-popup {
     padding: 0 20px;
     margin-bottom: 20px;
     height: 40px;
     line-height: 40px;
     border: none;
     color: #fff;
     background: #5E7DE3;
     border-radius: 3px;
     font-size: 16px;
     cursor: pointer;
     transition: .3s ease all;
     cursor: pointer;
  }
  
  .btn-abrir-popup:hover {
     background: rgba(94,125,227, .9);
  }
  


  /* ------------------------- */
  /* POPUP */
  /* ------------------------- */
  
  .overlay {
     background: rgba(0,0,0,.3);
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     align-items: center;
     justify-content: center;
     display: flex;
     visibility: hidden;
  }
  
  .overlay.active {
     visibility: visible;
  }
  
  .popup {
     background: #F8F8F8;
     box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
     border-radius: 3px;
     padding: 20px;
     text-align: center;
     width: 345px;
     transition: .3s ease all;
     transform: scale(0.7);
     opacity: 0;
     font-family: poppins;
  }
  
  .popup .btn-cerrar-popup {
     font-size: 16px;
     line-height: 16px;
     display: block;
     text-align: right;
     transition: .3s ease all;
     color: #BBBBBB;
  }
  
  .popup .btn-cerrar-popup:hover {
     color: #000;
  }
  
  .popup h3 {
     font-size: 23px;
     font-weight: 600;
     margin-bottom: 10px;
     opacity: 0;
  }
  
  .popup h4 {
     font-size: 23px;
     font-weight: 600;
     opacity: 0;
  }
  .popup p{
      opacity: 0;
  }
  .popup.active .subtituloMover{
      opacity: 0;
  }
  .popup form .contenedor-popup-inputs {
     opacity: 0;
  }
  
  .popup form .contenedor-popup-inputs input {
     width: 100%;
     margin-bottom: 20px;
     height: 52px;
     font-size: 18px;
     line-height: 52px;
     text-align: center;
     border: 1px solid #BBBBBB;
  }
  
  .popup form .btn-submit {
     padding: 0 20px;
     height: 40px;
     line-height: 40px;
     border: none;
     color: #fff;
     background: #5E7DE3;
     border-radius: 3px;
     font-size: 16px;
     cursor: pointer;
     transition: .3s ease all;
  }
  
  .popup form .btn-submit:hover {
     background: rgba(94,125,227, .9);
  }

  .input-form input, .input-form textarea, .input-form select
{
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 15px;
   padding-bottom: 90px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
  
.pagination .page-item.active .page-link { background-color: #fdc50a; color: black; box-shadow: none; border-color: black;}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
background-color: #e9b405;
color: white;  
box-shadow: none;
border-color: black;
}

.pagination .page-item.active .page-link:hover {
background-color: #e9b405; 
box-shadow: none;
border-color: black;
}
.pagination > li > a, .pagination > li > span{color: black;box-shadow: none;}
.pagination > li.active > a, .pagination > li.active > span{background-color:#fdc50a ; color: black; box-shadow: none;}

  /* ------------------------- */
  /* ANIMACIONES */
  /* ------------------------- */
  .popup.active {	transform: scale(1); opacity: 1; }
  .popup.active h3{ animation: entradaTitulo .5s ease .3s forwards; }
  .popup.active h4{ animation: entradaSubtitulo .5s ease .3s forwards; }
  .popup.active .contenedor-popup-inputs ,.popup p, .popup.active .subtituloMover{ animation: entradaInputs 0.5s linear 0.5s forwards; }
  
  .table>thead>tr>th {
   font-size: 16px;
   border-bottom-width: 1px;
   font-weight: 600;
   border: 0;
}

h5{
   font-size: 1.50rem;
}
.inputResponsive{
   min-width: 500px;
}

  @keyframes entradaTitulo {
     from {
        opacity: 0;
        transform: translateY(-25px);
     }
  
     to {
        transform: translateY(0);
        opacity: 1;
     }
  }
  
  @keyframes entradaSubtitulo {
     from {
        opacity: 0;
        transform: translateY(-25px);
     }
  
     to {
        transform: translateY(0);
        opacity: 1;
     }
  }
  
  @keyframes entradaInputs {
     from { opacity: 0; }
     to { opacity: 1; }
  }

  @media (max-width:600px){
    
   .inputResponsive{
      min-width: auto;
   }
   }

#cliente-peticion span, #cliente-peticion h4, #autorizado-peticion span, #autorizado-peticion h4, #objetoSolicitado-peticion h4{
   font-weight: 600;
}
 #cliente-peticion h4,  #autorizado-peticion h4, #objetoSolicitado-peticion h4{
   font-size: 20px;
}
#peticion-modal-lg h3{
   font-size: 24px;
   font-weight: 600;

}
.hrA{

   display: none;
   margin-top: 0;
}
@media (max-width: 767px) {
	.hrA{

      display: block;
      
	}
} 

.strength-meter span{
   display: inline;
   padding: .2em .6em .3em;
   font-size: 75%;
   font-weight: 700;
   line-height: 1;
   color: #fff;
   text-align: center;
   white-space: nowrap;
   vertical-align: baseline;
   border-radius: .25em;
}
.strength-meter .label-warning{
   background-color: #f0ad4e;
}
.strength-meter .label-danger{
   background-color: #d9534f;
}
.strength-meter .label-info{
   background-color: #5bc0de;
}
.strength-meter .label-success{
   background-color: #5cb85c;
}

.sidebar .nav li.active>a, .off-canvas-sidebar .nav li.active>a {
   background-color:#414141;
}