table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 20px;
	background-color: rgba(236, 198, 120, 0.493);
}

th {
	text-align: left;
}

thead 
{
background-color: rgb(78, 74, 74);
}